Import pandas

In [1]:
import pandas

Import the credit risk dataset using pandas

In [2]:
crypto_dataset = pandas.read_csv('credit_risk_dataset.csv')
crypto_dataset

,Unnamed: 0,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,30786,41,40000,RENT,3.0,PERSONAL,A,9200,7.49,0,0.23,N,13
1,29460,44,28000,OWN,0.0,VENTURE,A,3500,8.94,0,0.13,N,12
2,7059,22,56000,RENT,0.0,DEBTCONSOLIDATION,B,7000,11.36,0,0.13,N,2
3,5377,24,45000,MORTGAGE,2.0,PERSONAL,A,7200,7.29,0,0.16,N,4
4,27170,28,55000,RENT,3.0,HOMEIMPROVEMENT,E,15000,17.06,0,0.27,Y,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24430,9887,23,45000,RENT,7.0,EDUCATION,B,9000,10.65,0,0.20,N,2
24431,15196,26,125000,MORTGAGE,3.0,EDUCATION,D,24000,15.28,0,0.19,Y,4
24432,32218,43,138000,MORTGAGE,4.0,EDUCATION,A,9900,6.99,0,0.07,N,14
24433,25398,27,84780,MORTGAGE,5.0,VENTURE,A,18000,7.51,0,0.21,N,10
24434,28690,31,95000,RENT,2.0,EDUCATION,C,2500,13.72,0,0.03,Y,10